-i https://pypi.org/simple
iniconfig==2.0.0; python_version >= '3.7'
packaging==24.1; python_version >= '3.8'
pluggy==1.5.0; python_version >= '3.8'
pytest==8.3.3; python_version >= '3.8'
pytest-django==4.9.0; python_version >= '3.8'
pytest-mock==3.14.0; python_version >= '3.8'
asgiref==3.8.1; python_version >= '3.8'
beautifulsoup4==4.12.3; python_full_version >= '3.6.0'
certifi==2024.8.30; python_version >= '3.6'
charset-normalizer==3.3.2; python_full_version >= '3.7.0'
django==5.1.1; python_version >= '3.10'
idna==3.8; python_version >= '3.6'
requests==2.32.3; python_version >= '3.8'
soupsieve==2.6; python_version >= '3.8'
sqlparse==0.5.1; python_version >= '3.8'
urllib3==2.2.2; python_version >= '3.8'
